{% extends "base.html" %}
{% load i18n %}}
{% load hitcount_tags %}

{% block content %}

<section>
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{owner.profile.avatar.url}}" alt="{{owner.username}}'s avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{owner.username}}</h5>
              {% if user.is_authenticated %}
              {% if user.username == owner.username %}
              <div>
                <a href="{% url 'profile-settings' %}" class="btn btn-outline-primary" >Update Profile</a>
              </div>
              {% endif %}
              {% endif %}
              </div>
              </div>   

        <div class="card mb-3 mb-lg-0">
            <div class="card-body text-center p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item">
                  <span> Total articles: <em class="ms-2 me-1 bi bi-book"></em> {{tutorials.count}} </span>
                </li>
                <li class="list-group-item">
                  <span> Total views: <em class="ms-2 me-1 bi bi-eye"></em> {{total_views}} </span>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
        
<div class="col-lg-8">

  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Full Name</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{owner.first_name}} {{owner.last_name}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
          {% if is_owner %}
          <p class="text-muted mb-0">{{owner.email}}</p>
          {% else %}
          <p class="text-muted mb-0">******hidden</p>
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Phone</p>
        </div>
        <div class="col-sm-9">
          {% if is_owner %}
          {% if owner.phone %}
          <p class="text-muted mb-0">{{owner.phone}}</p>
          {% else %}
          <p class="text-muted mb-0">Not set</p>
          {% endif %}
          {% else %}
          <p class="text-muted mb-0">******hidden</p>
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Location</p>
        </div>
        <div class="col-sm-9">
          {% if owner.location %}
          <p class="text-muted mb-0">{{owner.location}}</p>
          {% else %}
          <p class="text-muted mb-0">Not set</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

    <div class="card text-center">
      <div class="card-header">
        Recent Articles
      </div>
      <div class="card-body">
        <div class="list-group list-group-light">
          <div class="container">
            <div class="row">
              {% for tutorial in latest_5 %}
              <div class="col-8">
                <a href="{{tutorial.get_absolute_url}}" type="button" class="col-6 list-group-item list-group-item-action px-3 border-0" aria-current="true">
                  <span class="text-primary">{{tutorial.title}}</span><em class="ps-3 bi bi-eye">  {% get_hit_count for tutorial %}</em>
                </a>
              </div>
              <div class="col-4">
                <a class="col-6 text-decoration-none me-2" href="{% url 'update-tutorial' tutorial.slug %}" type="button" title="Edit {{tutorial.title}}">
                  <em class="text-success bi bi-pencil"></em>
                </a>
                <a class="col-6 me-2" href="{% url 'delete-tutorial' tutorial.slug %}" type="button" title="Delete {{tutorial.title}}">
                  <em class="text-danger bi bi-trash"></em>
                </a>
              </div>
              <hr />

          {% endfor %}
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
</section>
{% endblock %}