{% extends 'base.html' %}
{% load humanize %}
{% block content %}

 <div class="container mt-4">
    {% if top %}
    {% for article in top %}
    <div class="p-5 my-4 bg-light rounded-3">
        <span class="text-muted">
            <em class="bi bi-tags-fill"></em>
            {{article.tags.all|join:", "}}
        </span>
      <h3> {{article.title}} </h3>
      <p class="lead"> {{article.content|truncatewords:50}} </p>
      <p><a href="{{article.get_absolute_url}}" class="btn btn-outline-success btn-lg">More</a></p>
    </div>
    {% endfor %}
    {% endif %}

  <div class="row g-3">
      {% for article in top_12 %}
      <div class="col-md-6 col-lg-4 col-xl-3">
          <h3> {{ article.title }} </h3>
          <p> {{ article.content|truncatewords:20 }} </p>
          <p><a href="{{article.get_absolute_url}}" class="btn btn-success">Learn More &raquo;</a></p>
      </div>
      {% endfor %}

  </div>
  <hr>
</div>

{% endblock %}