{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
      {% if topics %}
        {% for topic in topics %}
        <div class="col-xl-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <img src="#"
                    alt="logo"
                    style="width: 45px; height: 45px"
                    class="rounded-circle"/>
                  <div class="ms-3">
                    <p class="fw-bold mb-1"><a href="{% url 'tutorials' topic.slug %}"> {{topic.name}}</a> </p>
                    <p class="text-muted mb-0"> {{topic.description}} </p>
                  </div>
                </div>
                <span class="badge rounded-pill badge-warning">Awaiting</span>
              </div>
            </div>
            <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
              <span class="btn btn-link m-0 text-reset" role="button"
                data-ripple-color="primary"><em class="bi bi-eye ms-2"></em>
            </span>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <p> Nothing to diplay </p>
      {% endif %}

      </div>
</div>
{% endblock %}