{% extends 'base.html' %}

{% block content %}
<div class="container mb-5 mt-5">

  <ul class="list-group list-group-light mb-3">
    <li class="list-group-item">
      <h5 class="fw-bold">Our company starts its operations</h5>
      <p class="text-muted mb-2 fw-bold">11 March 2020</p>
      <p class="text-muted mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
        necessitatibus adipisci, ad alias, voluptate pariatur officia
        repellendus repellat inventore fugit perferendis totam dolor
        voluptas et corrupti distinctio maxime corporis optio?
      </p>
    </li>

  </ul>
  <a class="btn btn-outline-dark btn-rounded w-100" href="#" role="button" data-ripple-color="dark">Pagination</a>
</div>
{% endblock %}