{% extends 'base.html' %}
{% load humanize %}
{% load hitcount_tags %}

{% block content %}
<div class="container mb-5 mt-5">
    <h3 class="text-center fw-bolder m-4"> {{topic.name}} Tutorials </h3>
  <ul class="list-group list-group-light list-group-flush mb-3">
    {% if page_obj %}
    {% for tutorial in page_obj %}
    <li class="list-group-item mb-2">
      <a href="{{tutorial.get_absolute_url}}" class="text-decoration-none">
        <h5 class="fw-bold">{{tutorial.title}}</h5>
        <p class="text-muted mb-2 fw-bold"> {{tutorial.created|naturaltime}} </p>
        <p class="text-muted mb-0">
          {{ tutorial.content|safe|truncatewords_html:35 }}
        </p>
      </a>
      <span><em class="pe-2 bi bi-eye"></em>{% get_hit_count for tutorial %}<span>
    </li>
    {% endfor %}
    {% else %}
    <p> Nothing to display </p>
    {% endif %}

  </ul>
  <div class="pagination justify-content-center">
    <span class="page-link text-center">
      {% if page_obj.has_previous %}
      <a class="me-2 btn btn-outline-primary" href="?page=1"> &laquo; first </a>
      <a class="me-2 btn btn-outline-primary" href="?page={{page_obj.previous_page_number}}">previous</a>
      {% endif %}
      <span class="current btn btn-outline-light text-dark">
        page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.
      </span>
      {% if page_obj.has_next %}
      <a class="ms-2 me-2 btn btn-outline-primary" href="?page={{page_obj.next_page_number}}">next</a>
      <a class="btn btn-outline-primary" href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a>
      {% endif %}
    </span>
  </div>

</div>
{% endblock %}